<nav class="nav nav-fill bg-secondary nav-pills">
    <a class="nav-item nav-link text-white active" href="#"><i class="icon ion-home"></i> Home</a>
    <a class="nav-item nav-link text-white" href="#"><i class="ion ion-ios-information-outline"></i> About</a>
    <a class="nav-item nav-link text-white" href="#"><i class="icon ion-log-in"></i> Login</a>
</nav>
