video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

#videoContent {
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 2rem;
    margin: 2rem;
    font-size: 1.2rem;
}
