{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>« These are our first steps »</h1>
        <img src="http://lorempixel.com/800/400/cats/">
        <p>{{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</p>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
