{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <p class="display-4">Drop obServer</p>
    <ul class="list-group">
        <li class="list-group-item">A robot may not injure a human being or, through inaction, allow a human being to come to harm.</li>
        <li class="list-group-item">A robot must obey the orders given it by human beings except where such orders would conflict with the First Law.</li>
        <li class="list-group-item">A robot must protect its own existence as long as such protection does not conflict with the First or Second Laws.</li>
    </ul>
    <blockquote class="blockquote text-right">
        <footer class="blockquote-footer">Isaac Asimov<cite title="Source Title"> Three Laws of Robotics - Handbook of Robotics, 56th Edition, 2058 A.D</cite></footer>
    </blockquote>
    <a href="https://twitter.com/Darkmira1?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @Darkmira1</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a class="twitter-timeline" data-theme="dark" data-link-color="#19CF86" href="https://twitter.com/Darkmira1?ref_src=twsrc%5Etfw">Tweets by Darkmira1</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
{% endblock %}
