{% extends 'base.html.twig' %}

{% block body %}
    <video id="bgvid" playsinline autoplay muted loop>
        <source src="https://res.cloudinary.com/cvilleger/video/upload/ac_none,q_60/v1519688293/loop_k4i8g4.mp4" type="video/mp4">
    </video>
    <div id="videoContent">
        <p class="display-4">Drop obServer</p>
        <ul class="list-group">
            <li class="list-group-item">A robot may not injure a human being or, through inaction, allow a human being to come to harm.</li>
            <li class="list-group-item">A robot must obey the orders given it by human beings except where such orders would conflict with the First Law.</li>
            <li class="list-group-item">A robot must protect its own existence as long as such protection does not conflict with the First or Second Laws.</li>
        </ul>
        <blockquote class="blockquote text-right">
            <footer class="blockquote-footer">Isaac Asimov<cite title="Source Title"> Three Laws of Robotics - Handbook of Robotics, 56th Edition, 2058 A.D</cite></footer>
        </blockquote>
    </div>
{% endblock %}
