{% extends 'base.html.twig' %}

{% block title %}Home | Drop obServer{% endblock %}

{% block body %}
    <div class="container">
        <p class="display-4">Drop obServer</p>
        <a href="https://twitter.com/Darkmira1?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @Darkmira1</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <a class="twitter-timeline" data-theme="dark" data-link-color="#19CF86" href="https://twitter.com/Darkmira1?ref_src=twsrc%5Etfw">Tweets by Darkmira1</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
{% endblock %}
