{% extends 'base.html.twig' %}

{% block title %}Home | Drop obServer{% endblock %}

{% block body %}
<div class="container">
    <br>
    <h1 class="text-center">Welcome to the Drop obServer</h1>
    <p class="lead text-center">Drop obServer Project</p>
    <hr class="my-4">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/ULxruFudoYA?rel=0&amp;showinfo=0" allowfullscreen></iframe>
    </div>
</div>
{% endblock %}
