{% extends 'base.html.twig' %}

{% block body %}
    <video id="bgvid" playsinline autoplay muted loop>
        <source src="https://res.cloudinary.com/cvilleger/video/upload/ac_none,q_60/v1519688293/loop_k4i8g4.mp4" type="video/mp4">
    </video>
    <div class="" id="videoContent">
        <p class="display-4">Drop obServer</p>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porta dictum turpis, eu mollis justo gravida ac. Proin non eros blandit, rutrum est a, cursus quam. Nam ultricies, velit ac suscipit vehicula, turpis eros sollicitudin lacus, at convallis mauris magna non justo. Etiam et suscipit elit. Morbi eu ornare nulla, sit amet ornare est. Sed vehicula ipsum a mattis dapibus. Etiam volutpat vel enim at auctor.</p>
        <p>Aenean pharetra convallis pellentesque. Vestibulum et metus lectus. Nunc consectetur, ipsum in viverra eleifend, erat erat ultricies felis, at ultricies mi massa eu ligula. Suspendisse in justo dapibus metus sollicitudin ultrices id sed nisl.</p>
        <blockquote class="blockquote text-right">
            <footer class="blockquote-footer">Myself in <cite title="Source Title">Lorem ipsum dolor sit amet</cite></footer>
        </blockquote>
    </div>
{% endblock %}
