{% extends 'base.html.twig' %}

{% block title %}Dashboard | Drop obServer{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">Dashboard of the Drop obServer.</p>
        <hr class="my-4">
        <div class="progress">
            <div class="d-none progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 5%" aria-valuemin="0" aria-valuemax="100">5%</div>
        </div>
        <br>
        <button id="twitter-launch-btn" type="button" class="btn btn-primary btn-lg btn-block">Launch Twitter Action</button>
        <br>
        <ul id="tweet-list" class="list-group"></ul>
    </div>
</div>
{% endblock %}
