{% extends 'base.html.twig' %}

{% block title %}Dashboard | Drop obServer{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to your dashboard</h1>
        <hr class="my-4">
    </div>
</div>
{% endblock %}
