body{
    background-color: #eeeeee;
}

.parallax-container {
    height: 200px;
}

blockquote {
    display: none;
}

.cursor-progress {
    cursor: progress;
}

.cursor-cell {
    cursor: cell;
}

.cursor-col-resize {
    cursor: col-resize;
}
