{% extends 'base.html.twig' %}

{% block body %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <div class="parallax-container">
            <div class="parallax"><img src="https://images.apple.com/macos/high-sierra-preview/overview/beta/image_large_2x.jpg"></div>
        </div>
        <br><br>
        <h1 class="header center blue-grey-text">DROP | obServer</h1>
        <div class="row center">
            <h5 class="header col s12 light">A modern way to listen & talk</h5>
        </div>
    </div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center blue-grey-text"><i class="material-icons">flash_on</i></h2>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center blue-grey-text"><i class="material-icons">group</i></h2>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center blue-grey-text"><i class="material-icons">settings</i></h2>
                </div>
            </div>
        </div>

        <div class="parallax-container">
            <div class="parallax"><img src="https://images.apple.com/macos/high-sierra-preview/overview/beta/image_large_2x.jpg"></div>
        </div>

    </div>
</div>

{% endblock %}
