{% extends 'base.html.twig' %}

{% block body %}
    <p class="text-center display-1">Oups !</p>
    <img class="img-fluid rounded mx-auto d-block" src="http://thecatapi.com/api/images/get?format=src&type=gif">
{% endblock %}
