{% extends 'base.html.twig' %}

{% block title %}Error | Drop obServer{% endblock %}

{% block body %}
<div class="container">
    <p class="text-center display-1">Oups !</p>
    <img class="img-fluid rounded mx-auto d-block" src="https://httpstatusdogs.com/img/403.jpg">
</div>
{% endblock %}
