{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <fieldset>
            <legend>Configuration</legend>
        {{ form(form) }}
        </fieldset>
    </div>
</div>

{% endblock %}
